/* p,
h3,
h4 {
  text-align: left;
} */

.post-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  align-self: center;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.blog-img {
  width: 100%;
  height: auto;
}

.author {
  font-weight: 700;
  font-style: italic;
  align-self: self-end;
  margin-bottom: 0.5rem;
}

.content {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.subtitle {
  align-self: center;
  margin-bottom: 0.5rem;
}

.reveal-full-post.hidden {
  display: none;
}

.reveal-full-post {
  display: inline-block;
}

.reveal-full-post-button,
.close-full-post-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  width: 50%;
  align-self: center;
}

.reveal-full-post-button {
  background-color: rgb(97, 218, 251);
}

.close-full-post-button {
  background-color: #029ac4;
}
