/* * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} */

.global-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 50px;
  background: linear-gradient(357deg, transparent 0%, #0f7394 100%),
    linear-gradient(1deg, transparent 0%, #137da1 100%) 0 61%;
}

.header-logo-icon {
  height: 4.5rem;
  width: 4.5rem;
  animation: logo-spin infinite 20s linear;
}

.header-logo {
  margin-left: 50px;
  color: #61dafb;
  font-size: 2rem;
  /* text-shadow: 1px 0px 13px rgba(12, 67, 85, 1),
    -4px 3px 9px rgba(97, 218, 251, 0.971); */
}

@media (prefers-reduced-motion) {
  .header-logo-icon {
    animation: logo-spin infinite 200s linear;
  }
}
