.main {
  text-align: center;
  background: linear-gradient(100deg, transparent 0%, #61dafb 200%);
  width: 100%;
  margin-bottom: 50px;
  padding: 20px 10px 0 10px;
  height: 250px;
}

.sect1 {
  font-size: xx-large;
  font-weight: 100;
  margin-bottom: 5px;
  color: #3a5763;
}
.sect2 {
  font-size: large;
  margin-bottom: 10px;
}

.signUp {
  border-radius: 20px;
  padding: 10px;
  width: 130px;
  font-size: 15px;
  border: solid 2px;
  border-color: rgba(0, 0, 0, 0.084);
  background-color: #61dafb;
  box-shadow: 5px 5px 2px rgba(2, 2, 2, 0.126);
  /* color: white; */
  color: rgb(75, 80, 81);
  cursor: pointer;
}
.banner-img {
  width: 60px;
  height: 60px;
  margin-bottom: -10px;
}
@media (max-width: 380px) {
  .main {
    padding-bottom: 20px;
  }
  .sect1 {
    font-size: x-large;
  }
  .sect2 {
    font-size: medium;
  }
}

.banner--logo-icon {
  height: 3em;
  width: 3em;
  animation: logo-spin infinite 20s linear;
}
/* styles to apply if a user's device settings are set to reduced motion */
@media (prefers-reduced-motion) {
  .banner--logo-icon {
    animation: logo-spin infinite 200s linear;
  }
}
